$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import 'carbon-components/scss/globals/scss/styles.scss';
@import 'content/ResourceCard/resource-card.scss';
@import 'content/ResourceCard/resource-card-group.scss';

// Remove overrides once Carbon bugs are fixed upstream.

/// The React <Content /> component uses the `main` element which IE11 doesn't recognize
/// @link https://github.com/carbon-design-system/carbon/issues/2789
main {
  display: block;
}

/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.bx--content {
  padding: 0;
}


//Card groups
// Set spacing to the right of the group
.resource-card-group .#{$prefix}--col-lg-4:nth-child(2n) {
  @include carbon--breakpoint('lg') {
    margin-right: 33%;
  }
}

// set border between cards
.resource-card-group .#{$prefix}--resource-card {
  border-top: 1px solid $carbon--gray-20;
}

.resource-card-group .#{$prefix}--resource-card--dark {
  border-top-color: 1px solid $carbon--black-100;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(2)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-top: 0px solid transparent;
  }
}

.resource-card-group
  .#{$prefix}--col-lg-4:first-child
  .#{$prefix}--resource-card {
  border-top: 0px solid transparent;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(odd)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-left: 1px solid transparent;
  }
}

.resource-img {
  height:50px;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(even)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-left: 1px solid $carbon--gray-20;
  }
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(even)
  .#{$prefix}--resource-card--dark {
  border-left-color: $carbon--black-100;
}

// Set spacing to the right of the group
.resource-card-group .#{$prefix}--col-lg-4:nth-child(2) {
  @include carbon--breakpoint('lg') {
    margin-right: 33%;
  }
}
